.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1,
.card2,
.card3,
.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.card1 {
  border-radius: 90px 5px 5px 5px;
}
.card2 {
  border-radius: 5px 90px 5px 5px;
}
.card3 {
  border-radius: 5px 5px 5px 90px;
}
.card4 {
  border-radius: 5px 5px 90px 5px;
}

.instagram {
    margin-top: 15px;
    margin-left: 30px;
  }
  
  .facebook {
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .twitter {
    margin-top: -15px;
    margin-left: 30px;
  }
  
  .youtube {
    margin-top: -15px;
    margin-left: 15px;
  }

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: blueviolet;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: orangered;
}
